doctype html
html(lang='en')
  head
    title Login page
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
    style.
      body {
      background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
      background-size: 400% 665%;
      animation: gradient 15s ease infinite;
      }
      form {
      animation: moveit 2s ease;
      }
      img {
      background-color: red;
      }
      @keyframes gradient {
      0% {
      background-position: 0% 50%;
      }
      50% {
      background-position: 100% 50%;
      }
      100% {
      background-position: 0% 50%;
      }
      }
      @keyframes moveit {
      0% {
      opacity: 0;
      margin: 100px;
      }
      100% {
      opacity: 1;
      margin: 0px;
      }
      }

      .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      opacity: 0.7;
      }
      .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
      }
      .sidenav a:hover {
      color: #f1f1f1;
      }
      .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
      }
      @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
      }
      #hh {
      float: right;
      }
      span:hover {
      color: skyblue;
      transition-duration: 1s;
      }

      .cont {
      position: relative;
      width: 26%;
      }

      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
      }
      
      .cont:hover .overlay {
        opacity: 0.7;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        opacity: 0.7;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
  body
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
      a(href='/home') Home
      a(href='/') Login
      a(href='/aboutpage') About
      a(href='/contactpage') Contact us
      a(href='/feedbackpage') Feedback
      a(href='/remuneration_data') All Data
    .container
      span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰
      form(method='post' action='login')
        .form-group
          center
            div.cont
              a(href='https://aec.edu.in/' target="_blank")
                img(src='/images/aditya.jpg')
                div.overlay
                  div.text Visit aditya official site
          -if(erroe!=""){
            h3 #{error}
          -}        
          label(for='usr') Name:
          input#usr.form-control(type='text' name='user')
        .form-group
          label(for='pwd') Password:
          input#pwd.form-control(type='password' name='password')
          button.btn(type='button', style='float: right;', onclick='showpwd()') 👀 Show
        .form-group
          input#clickme.btn.btn-primary(type='submit')
  script.
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    }
    function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    }
    // -------------------------------------------------------------------
    function showpwd(){
    var p=document.getElementById("pwd");
    if (p.type=="password") {
    p.type="text";
    }
    else{
    p.type="password";
    }
    }
